.creative {
  height: 450px;
  background: url("../images/creative/about-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

.creative-info {
  padding-top: 75px;
  width: 50%;
  float: right;
  text-align: left;
}

.creative-info h2 {
  font-weight: bold;
  font-size: 50px;
}

.creative-info h2 span,
.creative-info h4 span {
  font-weight: normal;
  opacity: 0.6;
}

.creative-info h4 {
  font-size: 40px;
  color: #e52;
  margin-bottom: 20px;
}

.creative-desc {
  color: #888;
  line-height: 1.8;
}
